h1 {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg?_gl=1*1tlrmv7*_gcl_aw*R0NMLjE3Mjg5MDc0ODUuQ2owS0NRandnck80QmhDMkFSSXNBS1E3elVtZktIbVk3SGVwQS1LOU5NemY5bUFPOWRNZF8xYkpFSkRFT2w0TnRjUE5WcU05MTlibVNQSWFBb0RiRUFMd193Y0I.*_gcl_au*NDY5NzMxMzczLjE3Mjg5MDc0Nzg.*_ga*ODkyNDk4MzI4LjE3Mjg5Mjc3OTU.*_ga_3LRZM6TM9L*MTcyOTI4NDA0OC4xNC4xLjE3MjkyODQ1NTQuNTEuMC4w");
    font-size: 100px;
    color: khaki;
    text-align: center;
}


.item h2 {
    
    font-size: 32px;
    font-weight: bold;
    color: white;
    
}

h1,
h2,
h3,
p,
.price {
    font-family: "Helvetica", sans-serif;
}




#brushes {
    background-color: mediumaquamarine;
    
}

#frames {
    background-color: lightcoral;
}

#paint {
    background-color: skyblue;
}


.price {
    
    font-weight: bold;
    color: blue;
}